<!--&lt;!&ndash; index.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Welcome to the Library System</h1>-->
<!--<nav>-->
<!--  <ul>-->
<!--&lt;!&ndash;    <li><a href="/authors">Authors</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a href="/genres">Genres</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a href="/books">Books</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a href="/copies">Copies</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a href="/loans">Loans</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a href="/reviews">Reviews</a></li>&ndash;&gt;-->
<!--    <li><a href="/users">Users</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная Админа</title>
  <link rel="stylesheet" href="src/main/resources/static/styles.css" th:href="@{/styles.css}">
</head>
<body class="main-body">


<center>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Представленные модели</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">

        <a href="/users" class="btn btn-success btn-block mb-3 animated-button">
          <form>Пользователи</form>
        </a>
          <br><br>
        <a href="/benefits" class="btn btn-success btn-block mb-3 animated-button">
          <form>Льготы</form>
        </a>
        <br><br>
        <a href="/categorys" class="btn btn-success btn-block mb-3 animated-button">
          <form>Категории</form>
        </a>
        <br><br>
        <a href="/suppliers" class="btn btn-success btn-block mb-3 animated-button">
          <form>Поставщики</form>
        </a>
        <br><br>
        <a href="/roles" class="btn btn-success btn-block mb-3 animated-button">
          <form>Роли</form>
        </a>
        <br><br>
        <a href="/products" class="btn btn-success btn-block mb-3 animated-button">
          <form>Товары</form>
        </a>

<!--        <br><br>-->
<!--        <a href="/home/indexProduct?" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form method="get" action="/home/indexProduct">Товары</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/home/indexOrdering?" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form method="get" action="/home/indexOrdering">Заказы </form>-->
<!--        </a>-->



<!--        <br><br>-->
<!--        <a href="/home/indexRole?" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form method="get" action="/home/indexRole">Роли</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/home/indexSupplier?" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form method="get" action="/home/indexSupplier">Поставщики</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/home/indexBenefit?" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form method="get" action="/home/indexBenefit">Льготы</form>-->
<!--        </a>-->
<!--        <br><br>-->
<!--        <a href="/home/indexFeedback?" class="btn btn-success btn-block mb-3 animated-button">-->
<!--          <form method="get" action="/home/indexFeedback">Отзывы</form>-->
<!--        </a>-->

      </div>
    </div>
  </div>
</center>

</body>
</html>
