<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="src/main/resources/static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<h2 class="text-center mb-4">Добавление Товара</h2>



<form th:action="@{/products/create}" th:object="${product}" method="post">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName" th:field="*{productName}" required>

    <label for="productDescription">Product Description:</label>
    <textarea id="productDescription" name="productDescription" th:field="*{productDescription}" required></textarea>

    <label for="productPhoto">Product Photo URL:</label>
    <input type="text" id="productPhoto" name="productPhoto" th:field="*{productPhoto}" required>

    <label for="productPrice">Product Price:</label>
    <input type="number" id="productPrice" name="productPrice" th:field="*{productPrice}" required>

    <label for="productCategory">Product Category:</label>
    <select id="productCategory" name="productCategory" th:field="*{category}" required>
        <!-- Вставьте опции категорий из вашей базы данных -->
        <option th:each="category : ${categorys}" th:value="${category.id_category}" th:text="${category.categoryName}"></option>
    </select>

    <label for="productSupplier">Product Category:</label>
    <select id="productSupplier" name="productSupplier" th:field="*{supplier}" required>
        <!-- Вставьте опции категорий из вашей базы данных -->
        <option th:each="supplier : ${suppliers}" th:value="${supplier.id_supplier}" th:text="${supplier.supplierName}"></option>
    </select>

    <button type="submit">Add Product</button>
</form>


<!--<form action="/products/create" method="post" th:object="${product}">-->
<!--    <label>Название: <input type="text" th:field="*{productName}" required/></label> <br> <br>-->
<!--    <label>Описание: <input type="text" th:field="*{productDescription}" required/></label> <br> <br>-->
<!--    <label>Фото: <input type="text" th:field="*{productPhoto}" required/></label> <br> <br>-->
<!--    <label>Цена: <input type="text" th:field="*{productPrice}" required/></label> <br> <br>-->
<!--&lt;!&ndash;    <label>ID Поставщика:  <input type="text" th:field="*{productSupplier}" required/></label>&ndash;&gt;-->
<!--    ID Поставщика:-->
<!--    <select th:field="*{productSupplier}" required>-->
<!--        <option th:each="supplier : ${suppliers}" th:value="${supplier.id_supplier}" th:text="${supplier.supplierName}"></option>-->
<!--    </select><br> <br>-->
<!--&lt;!&ndash;    <label>ID Категории:  <input type="text" th:field="*{productCategory}" required/></label>&ndash;&gt;-->
<!--    ID Категории:-->
<!--    <select th:field="*{productCategory}" required>-->
<!--        <option th:each="category : ${categorys}" th:value="${category.id_category}" th:text="${category.categoryName}"></option>-->
<!--    </select><br> <br>-->


<!--    <button type="submit" value="Create" class="add-btn">Добавить</button> <br><br>-->
<!--</form>-->

<!--<form action="/users/create" method="post" th:object="${user}">-->
<!--    Name: <input type="text" th:field="*{userName}" required/><br/>-->
<!--    Age: <input type="text" th:field="*{userAge}" required/><br/>-->
<!--    Email: <input type="text" th:field="*{email}" required/><br/>-->
<!--    Password: <input type="text" th:field="*{password}" required/><br/>-->
<!--    Role: <select th:field="*{role}" required>-->
<!--    <option value="user">User</option>-->
<!--    <option value="admin">Admin</option>-->
<!--    <option value="employee">Employee</option>-->
<!--</select><br/>-->
<!--    <input type="submit" value="Create"/>-->
<!--</form>-->
<br><hr>
<br/>
<center>
    <div class="navigation">
        <form method="get">
            <a href="/products" class="btn btn-success btn-block mb-3 animated-button">
                Назад
            </a>
        </form>
    </div>
</center>
</body>
</html>
