<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Supplier</title>
    <link rel="stylesheet" href="src/main/resources/static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<h2 class="text-center mb-4">Добавление Поставщика</h2>

<form action="/suppliers/create" method="post" th:object="${supplier}">
    <label>Название: <input type="text" th:field="*{supplierName}" required/></label> <br> <br>
    <label>ID Пользователя:
    <select id="user" name="user.user_id" th:field="*{supplierUser}" required>
        <option th:each="user : ${users}" th:value="${user.id_user}" th:text="${user.email}"></option>
    </select></label><br> <br>


    <button type="submit" value="Create" class="add-btn">Добавить</button> <br><br>
</form>

<!--<form action="/users/create" method="post" th:object="${user}">-->
<!--    Name: <input type="text" th:field="*{userName}" required/><br/>-->
<!--    Age: <input type="text" th:field="*{userAge}" required/><br/>-->
<!--    Email: <input type="text" th:field="*{email}" required/><br/>-->
<!--    Password: <input type="text" th:field="*{password}" required/><br/>-->
<!--    Role: <select th:field="*{role}" required>-->
<!--    <option value="user">User</option>-->
<!--    <option value="admin">Admin</option>-->
<!--    <option value="employee">Employee</option>-->
<!--</select><br/>-->
<!--    <input type="submit" value="Create"/>-->
<!--</form>-->
<br><hr>
<br/>
<center>
    <div class="navigation">
        <form method="get">
            <a href="/suppliers" class="btn btn-success btn-block mb-3 animated-button">
                Назад
            </a>
        </form>
    </div>
</center>
</body>
</html>
